*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
*.jpg
*.gif
*.png
*.pdf
*.log
*.psd
*.jpeg
*.eps
*.ai
*.indd
.gitignore
*.swf
*.csv
*.txt
*.ttf
*.woff
*.svg
*.tif
*.pdf
*.xlsx
*.docx
*.doc
*.ppt
*.pptx
*.xls
*.tiff
*.mp3
*.mp4
*.flv
*.wmv
/content/files/*
/wp-content/uploads/*
/shop/var/*
node*
node*/*

