<html lang="en">
<head>
    <title>Hunting Industry News </title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>
<body>
    <table style="width: 700px" border="0" cellspacing="0" cellpadding="1" width="600" align="center">
        <tbody>
            <tr>
                <td width="100%" align="left">
                </td>
                <tr>
                    <td style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px"
                        valign="top" width="100%" align="left">
                    </td>
                </tr>
            <tr>
                <td height="10" valign="top" width="100%" align="left">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td style="text-align: center" align="center">
                                    <span><a href="http://www.bowhunting.com/"
                                        shape="rect" target="_blank" track="on">
                                        <img border="0" alt="Hunting Industry News By Hunting Network, LLC" src="http://www.huntingnetwork.com/resources/themes/standard/images/email/header4.jpg"
                                            width="700"></a></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="border-bottom: #cccccc 1px solid; padding-bottom: 0px; padding-left: 0px;
                        padding-right: 0px; display: table; margin-bottom: 10px; padding-top: 0px" id="textEdit"
                        border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td style="text-align: left; border-left: #cccccc 1px solid; border-right: #cccccc 1px solid"
                                    align="left">
                                    <a href="http://www.huntingnetwork.com/" target="_blank">
                                        <img border="0" hspace="0" alt="Hunting Network" src="http://www.huntingnetwork.com/resources/images/emails/industry/tab-hunting-network.jpg"></a>
                                </td>
                                <td style="text-align: left; border-left: #cccccc 1px solid; border-right: #cccccc 1px solid"
                                    align="left">
                                    <a href="http://www.bowhunting.com/" target="_blank">
                                        <img border="0" hspace="0" alt="Bowhunting.com" src="http://www.huntingnetwork.com/resources/images/emails/industry/tab-bowhunting.jpg"></a>
                                </td>
                                <td style="text-align: left; border-left: #cccccc 1px solid; border-right: #cccccc 1px solid"
                                    align="left">
                                    <a href="http://forums.bowhunting.com/" target="_blank">
                                        <img border="0" hspace="0" alt="Hunting Network" src="http://www.huntingnetwork.com/resources/images/emails/industry/tab-hunting-forums.jpg"></a>
                                </td>
                                <td style="text-align: left; border-left: #cccccc 1px solid; border-right: #cccccc 1px solid"
                                    align="left">
                                    <a href="http://www.huntingoutfitter.com/" target="_blank">
                                        <img border="0" hspace="0" alt="Hunting Outfitters" src="http://www.huntingnetwork.com/resources/images/emails/industry/tab-outfitters.jpg"></a>
                                </td>
                                <td style="text-align: left; border-left: #cccccc 1px solid; width: 138px; border-right: #cccccc 1px solid"
                                    width="138" align="left">
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center; width: 46px" width="46" align="center">
                                                    <a href="http://www.facebook.com/bowhunting"
                                                        shape="rect" target="_blank" track="on" linktype="facebook">
                                                        <img title="Like us on Facebook" border="0" alt="Like us on Facebook" src="https://imgssl.constantcontact.com/ui/images1/ic_fbk_22.png"></a>
                                                </td>
                                                <td style="text-align: center; width: 46px" width="46" align="center">
                                                    <a href="http://twitter.com/bowhunting1"
                                                        shape="rect" target="_blank" track="on" linktype="twitter">
                                                        <img title="Follow us on Twitter" border="0" alt="Follow us on Twitter" src="https://imgssl.constantcontact.com/ui/images1/ic_twit_22.png"></a>
                                                </td>
                                                <td style="text-align: center; width: 46px" width="46" align="center">
                                                    <a href="http://www.youtube.com/user/bowhuntingdotcom"
                                                        shape="rect" target="_blank" track="on" linktype="youtube">
                                                        <img title="View our videos on YouTube" border="0" alt="View our videos on YouTube"
                                                            src="https://imgssl.constantcontact.com/ui/images1/ic_tube_22.png"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin: 2px 0px" border="0" cellspacing="0"
                        cellpadding="5" width="100%">
                        <tbody>
                            <tr>
                                <td style="text-align: right; font-family: Arial,Helvetica,sans-serif; color: #333333;
                                    font-size: 12px" align="left">
                                    [var-datestamp]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top">
                                <table cellspacing="0" cellpadding="5" width="100%" style="margin-bottom: 10px">
                                    <tbody>
                                        <tr>
                                            <td style="border-bottom: #563f2b 1px solid; padding-bottom: 5px; background-color: #fbedd1;
                                                padding-left: 20px; background-attachment: scroll; padding-right: 5px; font-family: Arial, Helvetica, sans-serif;
                                                background-position: 0% 0%; color: #000000; margin-left: 10px; font-size: 12px;
                                                font-weight: bold; padding-top: 5px" valign="top">
                                                TOP NEWS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                    [section-news]
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                    <table cellspacing="0" cellpadding="5" width="100%" style="margin-bottom: 10px">
                        <tbody>
                            <tr>
                                <td style="border-bottom: #563f2b 1px solid; padding-bottom: 5px; background-color: #fbedd1;
                                    padding-left: 20px; background-attachment: scroll; padding-right: 5px; font-family: Arial, Helvetica, sans-serif;
                                    background-position: 0% 0%; color: #000000; margin-left: 10px; font-size: 12px;
                                    font-weight: bold; padding-top: 5px" valign="top">
                                    HOT PRODUCTS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            [section-products]
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="5" width="100%" style="margin-bottom: 10px">
                        <tbody>
                            <tr>
                                <td style="border-bottom: #563f2b 1px solid; padding-bottom: 5px; background-color: #fbedd1;
                                    padding-left: 20px; background-attachment: scroll; padding-right: 5px; font-family: Arial, Helvetica, sans-serif;
                                    background-position: 0% 0%; color: #000000; margin-left: 10px; font-size: 12px;
                                    font-weight: bold; padding-top: 5px" valign="top">
                                    INDUSTRY&nbsp;HAPPENINGS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            [section-happenings]
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="5" width="100%" style="margin-bottom: 10px">
                        <tbody>
                            <tr>
                                <td style="border-bottom: #563f2b 1px solid; padding-bottom: 5px; background-color: #fbedd1;
                                    padding-left: 20px; background-attachment: scroll; padding-right: 5px; font-family: Arial, Helvetica, sans-serif;
                                    background-position: 0% 0%; color: #000000; margin-left: 10px; font-size: 12px;
                                    font-weight: bold; padding-top: 5px" valign="top">
                                    NEW VIDEOS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            [section-bowhuntordie]
                                            [section-randomvideo]
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="5" width="100%" style="margin-bottom: 10px">
                        <tbody>
                            <tr>
                                <td style="border-bottom: #563f2b 1px solid; padding-bottom: 5px; background-color: #fbedd1;
                                    padding-left: 20px; background-attachment: scroll; padding-right: 5px; font-family: Arial, Helvetica, sans-serif;
                                    background-position: 0% 0%; color: #000000; margin-left: 10px; font-size: 12px;
                                    font-weight: bold; padding-top: 5px" valign="top">
                                    FROM THE COMMUNITY
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="padding-bottom: 10px; padding-left: 10px;  font-family: Arial,Helvetica,sans-serif;
                                                    font-size: 14px; font-weight: bold; padding-top: 10px" valign="top">
                                                    [section-community]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-bottom: 10px; padding-left: 10px; padding-right: 20px; font-family: Arial,Helvetica,sans-serif;
                                                    font-size: 14px; font-weight: bold; padding-top: 10px" valign="top">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                            </td>
                            <td width="250" valign="top">
                                [section-banner]
                            </td>
                        </tr>
                    </table>
                    <table style="display: table; margin-bottom: 10px;width:700px" border="0"
            cellspacing="0" cellpadding="5" width="700">
            <tbody>
                <tr>
                    <td style="text-align: left; font-family: Arial, Helvetica, sans-serif; color: #333333;
                        font-size: 12px; vertical-align: top" align="left">
                        <p style="margin-top: 0px; margin-bottom: 0px">
                            <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 12px"
                                class="ContactInfoTitle"><b><a href="http://www.huntingnetwork.com/"
                                    shape="rect" target="_blank" track="on">
                                    <img border="0" hspace="5" alt="Hunting Network, LLC" vspace="5" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/hunting-network.jpg"
                                        width="132" height="63"></a></b></span></p>
                        <p style="margin-top: 0px; margin-bottom: 0px">
                            <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 12px"
                                class="ContactInfoTitle"><b><a style="color: rgb(0,0,0); font-weight: bold; text-decoration: none"
                                    href="http://www.huntingnetwork.com/"
                                    shape="rect" target="_blank" track="on" linktype="link">Hunting Network, LLC</a></b></span><br>
                            <span>E: <a style="color: rgb(0,0,0); text-decoration: underline" href="mailto:info@huntingnetwork.com"
                                shape="rect" target="_blank">info@huntingnetwork.com</a><br>
                                P: 847-659-8200</span></p>
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/Ni04a2hK"
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Mathews, Inc." src="http://www.huntingnetwork.com/resources/images/emails/sponsors/mathews.jpg"
                                                width="71" height="26"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/Ny1ON2I4"
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Lost Camo" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/lost-camo.jpg"
                                                width="66" height="31"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/OC00eU0w"
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Lone Wolf Treestands" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/lone-wolf.jpg"
                                                width="54" height="42"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/OS0yckZw"
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Hunter Safety System" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/hunter-safety-system.jpg"
                                                width="60" height="42"></a>&nbsp;
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTAtd0EzSA=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Heartland Wildlife Institute" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/heartland-wildlife-institute.jpg"
                                                width="72" height="37"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTEtSjdzMg=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="New Archery Products" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/new-archery-products.jpg"
                                                width="72" height="16"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/NDctYjh4eQ=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Scent Blocker" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/scent-blocker.jpg"
                                                width="70" height="23"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTItX29qZA=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Tinks" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/tinks.jpg"
                                                width="53" height="24"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTMtd0docw=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Carbon Express" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/carbon-express.jpg"
                                                width="67" height="24"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTQtU1NyTg=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Stealth Cam" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/stealth-cam.jpg"
                                                width="66" height="13"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTUtQWpaeg=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Moose Utility" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/moose-utility.jpg"
                                                width="72" height="26"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MzItcU92cw=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="LaCrosse Footwear" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/lacrosse-footwear.jpg"
                                                width="72" height="26"></a>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
                    <table style="margin-bottom: 10px" border="0" cellspacing="0"
                        cellpadding="5" width="100%">
                        <tbody>
                            <tr>
                                <td style="text-align: left; font-family: Arial, Helvetica, sans-serif; color: #333333;
                                    font-size: 8pt" align="left">
                                    <p style="text-align: center; margin-top: 0px; margin-bottom: 0px" align="center">
                                        <span style="font-family: Arial, Helvetica, sans-serif; color: #000000"><em>Hunting
                                            Network, LLC is the modern hunter's #1 resource for hunting news and information.
                                            Our industry-leading network of websites has been forging the way for hunters online
                                            since 1995.</em></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
