<!--[if !mso 9]><!-->
<div class="feature-item" style="width: 100%; float:left; margin: 10px 0;">
<!--<![endif]-->
    <!--[if (gte mso 9)|(IE)]>
    <table class="feature-item"  width="100%" style="width: 100%; float:left; margin: 10px 0;">
        <tr>
            <td width="40%" valign="top" style="width:40%; margin-top: 10px; float: left;">
                <a style="width: 164px; float:left; text-align:center; margin: 10px auto 0;" width="164" class="img-position" href="[wf.publisher.post.url]">
                    <img src="[wp.attachment]" border="0" class="img-max" style="max-width:100%; height:auto;" width="164"/>
            <![endif]-->
            <!--[if !mso 9]><!-->
            <div class="col-1" style="width:40%; margin-top: 10px; float: left;">
                <a style="float:left; text-align:center; margin:0 auto;" class="img-position" href="[wf.publisher.post.url]">
                        <img src="[wp.attachment]" border="0" class="img-max" style="max-width:100%; height:auto;" />
            <!--<![endif]-->
                    </a>
            <!--[if !mso 9]><!-->
            </div>
            <!--<![endif]-->
            <!--[if (gte mso 9)|(IE)]>
            </td>
            <td width="55%" valign="top" style='width:55%; margin-left: 5%;'>
                <![endif]-->
            <!--[if !mso 9]><!-->
                <div class="col-2" style="width:55%; margin-left: 5%; float: left;">
            <!--<![endif]-->
                    <h3 style="margin-top: 0;"><a href="[wf.publisher.post.url]" style="color:#be0000">[_title]</a></h3>
                    <p style="margin:0;">[wp.excerpt]</p>
                    <br />
                    <a href="[wf.publisher.post.url]" style="color:#666;">Read full blog</a>
                <!--[if !mso 9]><!-->
                </div>
                <!--<![endif]-->
    <!--[if (gte mso 9)|(IE)]>
            </td>
        </tr>
    </table>
    <![endif]-->
<!--[if !mso 9]><!-->
</div>
<!--<![endif]-->
<div style="clear:both;"></div>