$content-width: 1000px
$breakpoint: 800px
$nav-height: 70px
$nav-background: #262626
$nav-font-color: #ffffff
$link-hover-color: #2581DC

nav
  float: right
ul
  list-style: none
  margin: 0
  padding: 0
li
  float: left
  position: relative
a
  display: block
  padding: 0 20px
  line-height: $nav-height
  background: $nav-background
  color: $nav-font-color
  text-decoration: none
  &:hover
    background: $link-hover-color
    color: $nav-font-color
  &:not(:only-child):after
    padding-left: 4px
    content: ""
    border-top: 10px solid #000000
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: none
ul.nav-dropdown
  display: none
  position: absolute
  z-index: 1
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15)
li
  min-width: 190px
a
  padding: 15px
  line-height: 20px
