<tr>
    <td style="padding: 10px 10px 10px 0px; vertical-align: top;" rowspan="1" colspan="1">
        <a class="imgCaptionAnchor" href="[_link]"
            target="_blank">
            <img width="125" height="125" align="left" style="text-align: left;" alt="[_name]"
                src="[rhino.preview]"
                border="0" hspace="5"></a> &nbsp;
    </td>
    <td style="padding: 10px 10px 10px 0px; color: rgb(0, 0, 0); font-family: arial;
        font-size: 12px; vertical-align: top;" rowspan="1" colspan="1">
        <div style="margin: 0px 0px 10px; color: rgb(190, 0, 0); font-family: Arial; font-size: 12px;
            font-weight: bold;">
            <div style="margin: 0px 0px 10px; color: rgb(190, 0, 0); font-family: Arial; font-size: 12px;
                font-weight: bold;">
                <a style="color: rgb(190, 0, 0); font-weight: bold; text-decoration: underline;"
                    href="[_link]"
                    target="_blank">[_name]</a></div>
        </div>
        <span>
            <p style="margin-top: 0px; margin-bottom: 0px;">
                [_description]</p>
            <p style="margin-top: 0px; margin-bottom: 0px;">
                <span>&nbsp;</span></p>
            <p style="margin-top: 0px; margin-bottom: 0px;">
                <a style="color: rgb(146, 146, 146); text-decoration: underline;" href="[_link]"
                    target="_blank">Read More</a>&nbsp;</p>
        </span>
        <br>
    </td>
</tr>