<html lang="en">
<head>
    <title>Bowhunting.com Newsletter</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>
<body>
    <table width="100%" style="margin: 0px; background-color: rgb(255, 255, 255);" bgcolor="#ffffff"
        border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top" rowspan="1" colspan="1">
                    <table width="700" style="width: 700px;" border="0" cellspacing="0" cellpadding="1">
                        <tbody>
                            <tr>
                                <td width="100%" align="left" valign="top" rowspan="1" colspan="1">
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="padding: 0px;" rowspan="1" colspan="1">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="100%" align="left" valign="top" style="text-align: center; background-color: rgb(255, 255, 255);" bgcolor="#ffffff" rowspan="1" colspan="2">
                                                    <table width="100%" style="display: table;" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" rowspan="1" colspan="1">
                                                                    <a class="imgCaptionAnchor" href="http://www.bowhunting.com/" target="_blank" shape="rect" track="on">
                                                                        <img width="558" style="display: block;" alt="Bowhunting.com Newsletter - [var-datestamp]"
                                                                            src="http://www.bowhunting.com/resources/images/emails/newsletter/2012/09102012/header-1.jpg"
                                                                            border="0"></a>
                                                                </td>
                                                                <td valign="top" rowspan="1" colspan="1">
                                                                    <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/NS1vMjIx" target="_blank">
                                                                        <img width="143" height="101" style="display: block;" alt="Bowhunting.com Newsletter - [var-datestamp]"
                                                                            src="http://www.bowhunting.com/resources/images/emails/newsletter/2012/10172012/header-2.jpg"
                                                                            border="0"></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px 10px; color: rgb(255, 255, 255); font-family: Arial; font-size: 16px;
                                                                    font-weight: bold; border-top-color: rgb(190, 0, 0); border-top-width: 4px; border-top-style: solid;
                                                                    background-attachment: scroll; background-color: rgb(50, 50, 50);" bgcolor="#323232"
                                                                    rowspan="1" colspan="1">
                                                                    Featured Video
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" class="ArticleBorder" style="margin-bottom: 0px;
                                                        display: table;" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                                        [section-bowhuntordie]
                                                                    </table>
                                                                </td>
                                                                <td style="background: rgb(230, 230, 230); padding: 5px 10px 10px; width: 210px;
                                                                    color: rgb(0, 0, 0); line-height: 25px; font-family: arial; font-size: 11px;
                                                                    vertical-align: top;" rowspan="1" colspan="1">
                                                                    <p style="margin-top: 0px; margin-bottom: 0px;">
                                                                        <b>Other Videos</b></p>
                                                                        [section-othervideos]
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px 10px; color: rgb(255, 255, 255); font-family: Arial; font-size: 16px;
                                                                    font-weight: bold; border-top-color: rgb(190, 0, 0); border-top-width: 4px; border-top-style: solid;
                                                                    background-attachment: scroll; background-color: rgb(50, 50, 50);" bgcolor="#323232"
                                                                    rowspan="1" colspan="1">
                                                                    Product Spotlight
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" class="ArticleBorder" style="margin-bottom: 0px;
                                                        display: table;" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                                        [section-productspotlight1]
                                                                    </table>
                                                                </td>
                                                                <td style="background: rgb(230, 230, 230); padding: 5px 10px 10px; width: 210px;
                                                                    color: rgb(0, 0, 0); line-height: 25px; font-family: arial; font-size: 11px;
                                                                    vertical-align: top;" rowspan="1" colspan="1">
                                                                    <p style="margin-top: 0px; margin-bottom: 0px;">
                                                                        <b>Other Products</b></p>
                                                                    [section-otherproducts1]
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px 10px; color: rgb(255, 255, 255); font-family: Arial; font-size: 16px;
                                                                    font-weight: bold; border-top-color: rgb(190, 0, 0); border-top-width: 4px; border-top-style: solid;
                                                                    background-attachment: scroll; background-color: rgb(50, 50, 50);" bgcolor="#323232"
                                                                    rowspan="1" colspan="1">
                                                                    <span>From the Community</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" class="ArticleBorder" style="margin-bottom: 0px;
                                                        display: table;" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                                        [section-community]
                                                                    </table>
                                                                </td>
                                                                <td style="background: rgb(230, 230, 230); padding: 5px 10px 10px; width: 210px;
                                                                    color: rgb(0, 0, 0); line-height: 25px; font-family: arial; font-size: 11px;
                                                                    vertical-align: top;" rowspan="1" colspan="1">
                                                                    <p style="margin-top: 0px; margin-bottom: 0px;">
                                                                        <b>Other&nbsp;Topics</b></p>
                                                                    [section-othertopics]
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px 10px; color: rgb(255, 255, 255); font-family: Arial; font-size: 16px;
                                                                    font-weight: bold; border-top-color: rgb(190, 0, 0); border-top-width: 4px; border-top-style: solid;
                                                                    background-attachment: scroll; background-color: rgb(50, 50, 50);" bgcolor="#323232"
                                                                    rowspan="1" colspan="1">
                                                                    Product Spotlight<br>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" class="ArticleBorder" style="margin-bottom: 0px;
                                                        display: table;" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                                        [section-productspotlight2]
                                                                    </table>
                                                                </td>
                                                                <td style="background: rgb(230, 230, 230); padding: 5px 10px 10px; width: 210px;
                                                                    color: rgb(0, 0, 0); line-height: 25px; font-family: arial; font-size: 11px;
                                                                    vertical-align: top;" rowspan="1" colspan="1">
                                                                    <p style="margin-top: 0px; margin-bottom: 0px;">
                                                                        <b>Other Products</b></p>
                                                                    [section-otherproducts2]
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px 10px; color: rgb(255, 255, 255); font-family: Arial; font-size: 16px;
                                                                    font-weight: bold; border-top-color: rgb(190, 0, 0); border-top-width: 4px; border-top-style: solid;
                                                                    background-attachment: scroll; background-color: rgb(50, 50, 50);" bgcolor="#323232"
                                                                    rowspan="1" colspan="1">
                                                                    Blogs &amp; News
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" class="ArticleBorder" style="margin-bottom: 0px;
                                                        display: table;" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                                        [section-blog]
                                                                    </table>
                                                                </td>
                                                                <td style="background: rgb(230, 230, 230); padding: 5px 10px 10px; width: 210px;
                                                                    color: rgb(0, 0, 0); line-height: 25px; font-family: arial; font-size: 11px;
                                                                    vertical-align: top;" rowspan="1" colspan="1">
                                                                    <p style="margin-top: 0px; margin-bottom: 0px;">
                                                                        <b>Other News</b></p>
                                                                    [section-othernews]
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px 10px; color: rgb(255, 255, 255); font-family: Arial; font-size: 16px;
                                                                    font-weight: bold; border-top-color: rgb(190, 0, 0); border-top-width: 4px; border-top-style: solid;
                                                                    background-attachment: scroll; background-color: rgb(50, 50, 50);" bgcolor="#323232"
                                                                    rowspan="1" colspan="1">
                                                                    Product Spotlight<br>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" class="ArticleBorder" style="margin-bottom: 0px;
                                                        display: table;" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                                        [section-productspotlight3]
                                                                    </table>
                                                                </td>
                                                                <td style="background: rgb(230, 230, 230); padding: 5px 10px 10px; width: 210px;
                                                                    color: rgb(0, 0, 0); line-height: 25px; font-family: arial; font-size: 11px;
                                                                    vertical-align: top;" rowspan="1" colspan="1">
                                                                    <p style="margin-top: 0px; margin-bottom: 0px;">
                                                                        <b>Other Products</b></p>
                                                                    [section-otherproducts3]
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="150" align="left" valign="top" style="padding: 5px; width: 450px; background-color: rgb(255, 255, 255);"
                                                    bgcolor="#ffffff" rowspan="1" colspan="1">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" valign="top" rowspan="1" colspan="1">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="100%" align="left" valign="top" rowspan="1" colspan="1">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="100%" align="left" valign="top" rowspan="1" colspan="1">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="450" align="left" valign="top" style="padding: 5px; width: 150px; background-color: rgb(255, 255, 255);"
                                                    bgcolor="#ffffff" rowspan="1" colspan="1">
                                                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" rowspan="1" colspan="1">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" style="padding: 0px 5px; background-color: rgb(255, 255, 255);"
                                                    bgcolor="#ffffff" rowspan="1" colspan="2">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" height="10" align="left" rowspan="1" colspan="1">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="border-top-color: rgb(190, 0, 0); border-top-width: 4px; border-top-style: solid;"
                                                    rowspan="1" colspan="1">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table style="display: table; margin-bottom: 10px; width: 700px" border="0" cellspacing="0"
                                        cellpadding="5" width="700">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: left; font-family: Arial, Helvetica, sans-serif; color: #333333;
                                                    font-size: 12px; vertical-align: top" align="left">
                                                    <p style="margin-top: 0px; margin-bottom: 0px">
                                                        <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 12px"
                                                            class="ContactInfoTitle"><b><a href="http://www.huntingnetwork.com/" shape="rect"
                                                                target="_blank" track="on">
                                                                <img border="0" hspace="5" alt="Hunting Network, LLC" vspace="5" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/hunting-network.jpg"
                                                                    width="132" height="63"></a></b></span></p>
                                                    <p style="margin-top: 0px; margin-bottom: 0px">
                                                        <span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 12px"
                                                            class="ContactInfoTitle"><b><a style="color: rgb(0,0,0); font-weight: bold; text-decoration: none"
                                                                href="http://www.huntingnetwork.com/" shape="rect" target="_blank" track="on"
                                                                linktype="link">Hunting Network, LLC</a></b></span><br>
                                                        <span>E: <a style="color: rgb(0,0,0); text-decoration: underline" href="mailto:info@huntingnetwork.com"
                                                            shape="rect" target="_blank">info@huntingnetwork.com</a><br>
                                                            P: 847-659-8200</span></p>
                                                </td>
                                                <td>
                                                    <table cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/Ni04a2hK"
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Mathews, Inc." src="http://www.huntingnetwork.com/resources/images/emails/sponsors/mathews.jpg"
                                                width="71" height="26"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/Ny1ON2I4"
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Lost Camo" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/lost-camo.jpg"
                                                width="66" height="31"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/OC00eU0w"
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Lone Wolf Treestands" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/lone-wolf.jpg"
                                                width="54" height="42"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/OS0yckZw"
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Hunter Safety System" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/hunter-safety-system.jpg"
                                                width="60" height="42"></a>&nbsp;
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTAtd0EzSA=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Heartland Wildlife Institute" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/heartland-wildlife-institute.jpg"
                                                width="72" height="37"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTEtSjdzMg=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="New Archery Products" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/new-archery-products.jpg"
                                                width="72" height="16"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/NDctYjh4eQ=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Scent Blocker" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/scent-blocker.jpg"
                                                width="70" height="23"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTItX29qZA=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Tinks" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/tinks.jpg"
                                                width="53" height="24"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTMtd0docw=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Carbon Express" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/carbon-express.jpg"
                                                width="67" height="24"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTQtU1NyTg=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Stealth Cam" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/stealth-cam.jpg"
                                                width="66" height="13"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MTUtQWpaeg=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="Moose Utility" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/moose-utility.jpg"
                                                width="72" height="26"></a>
                                    </td>
                                    <td style="text-align: center" align="center">
                                        <a class="imgCaptionAnchor" href="http://www.bowhunting.com/fwd/MzItcU92cw=="
                                            shape="rect" target="_blank" track="on">
                                            <img border="0" alt="LaCrosse Footwear" src="http://www.huntingnetwork.com/resources/images/emails/sponsors/lacrosse-footwear.jpg"
                                                width="72" height="26"></a>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table style="margin-bottom: 10px" border="0" cellspacing="0" cellpadding="5" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: left; font-family: Arial, Helvetica, sans-serif; color: #333333;
                                                    font-size: 8pt" align="left">
                                                    <p style="text-align: center; margin-top: 0px; margin-bottom: 0px" align="center">
                                                        <span style="font-family: Arial, Helvetica, sans-serif; color: #000000"><em>Hunting
                                                            Network, LLC is the modern hunter's #1 resource for hunting news and information.
                                                            Our industry-leading network of websites has been forging the way for hunters online
                                                            since 1995.</em></span></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
