<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HN.Notifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<connectionStrings />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <HN.Notifications.Properties.Settings>
            <setting name="CC_ApiKey" serializeAs="String">
                <value>3d11d69f-e923-4872-a047-6176062965a7</value>
            </setting>
            <setting name="CC_Username" serializeAs="String">
                <value>huntingnetworkllc</value>
            </setting>
            <setting name="CC_Password" serializeAs="String">
                <value>IcssR0cks</value>
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value>mail2.icss.com</value>
            </setting>
            <setting name="MailServerPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MailUsername" serializeAs="String">
                <value>donotreply@icssmail.com</value>
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value>icssmail</value>
            </setting>
            <setting name="MailFromAddress" serializeAs="String">
                <value>donotreply@icssmail.com</value>
            </setting>
            <setting name="MailToAddresses" serializeAs="String">
                <value />
            </setting>
        </HN.Notifications.Properties.Settings>
    </applicationSettings>
</configuration>
